/* ---------- Galeria ---------- */

.galeria {
    width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    position: relative;
    .galeria__imagen {
        width: 20%;
        height: 900px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
            object-fit: cover;
        }
        .galeria__encima {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(#34495e, .8);
            opacity: 0;
            transform: scale(1);
            transition: all 0.3s;
            &:hover {
                opacity: 1;
                h2 {
                    transform: scale(1.3);
                }
                div {
                    width: 90px;
                }
            }
            h2 {
                position: relative;
                top: 47%;
                text-align: center;
                color: #fff;
                font-size: 2rem;
                transform: scale(1);
                transition: all 0.3s;
            }
            div {
                position: relative;
                display: block;
                top: 48%;
                width: 50px;
                height: 5px;
                background: #fff;
                margin: auto;
                transition: all 0.3s;
            }
        }
    }
}